*{
    margin: 0;
    scroll-behavior: smooth;

}


/* firefox */

input[type="number"]{
    -moz-appearance: textfield;
}

/* chrome Safari Edge Opera for This use only arrrow button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
}

.greenColor {
    color: green !important;
  }
  .redColor {
    color: red !important;
  }

.ProductDetails > div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}